<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HTTP_CONTENT_TYPE</key>
	<string>application/json</string>
	<key>API_KEY</key>
	<string>2c857b99ab894a9bb99c11ecdb9c2695</string>
	<key>BASE_URL</key>
	<string>https://newsapi.org/</string>
</dict>
</plist>
